body{
    text-align: center;
    background-color: chartreuse;
}
.line{
    width: 80px;
    height: 8px;
background-color: aliceblue;
    margin: 8px auto;
    
}
#chatbot{
    color: blue;
    background-color: antiquewhite;
    
    }
#app{
    color: blue;
    background-color: antiquewhite;
   
    }
#games{
    color: blue;
    background-color: antiquewhite;
   }
.color{
    color: blue;
    background-color: antiquewhite;
}
#slideshow{
    background-color: brown;
    
    color: aqua;
}